/* Dashboard */

/* DAshboard */
body.dashboard-body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dashboard-header,
.dashboard-footer {
    background-color: #3a3a3a;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-header h1 {
    font-size: 18px;
    margin: 0;
}

.dashboard-main {
    display: flex;
    flex: 1;
}

.dashboard-sidebar {
    width: 250px;
    background-color: #3a3a3a;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.dashboard-sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.dashboard-sidebar ul {
    list-style: none;
    padding: 0;
}

.dashboard-sidebar ul li {
    margin-bottom: 20px;
}

.dashboard-sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dashboard-sidebar ul li a i {
    margin-right: 10px;
}

.dashboard-sidebar ul .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.dashboard-sidebar ul .submenu li {
    margin-bottom: 10px;
}

.dashboard-sidebar ul .submenu li a {
    font-size: 14px;
}

.dashboard-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    position: relative;
}

.dashboard-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.dashboard-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.dashboard-stat-box {
    background-color: #b0b0b0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    margin: 10px;
}

.dashboard-stat-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.dashboard-stat-box p {
    font-size: 48px;
    margin: 0;
}

.dashboard-tables {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dashboard-table-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    margin: 10px;
}

.dashboard-table-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.dashboard-table-box h3 i {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: left;
}

.dashboard-footer {
    text-align: center;
}

@media (max-width: 768px) {
    .dashboard-sidebar {
        width: 100%;
        padding: 10px;
    }

    .dashboard-main {
        flex-direction: column;
    }

    .dashboard-content {
        padding: 10px;
    }

    .dashboard-stat-box {
        width: 100%;
    }

    .dashboard-table-box {
        width: 100%;
    }
}
